.color-white {
  color: white;
}

.text-uppercase {
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.container-70 {
  width: 70%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 70px;
  padding: 1em 0;
}
header .header_nav_list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header_nav_list-item {
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
}
header .header_nav_list-item a {
  text-decoration: none;
  color: gray;
  display: flex;
  align-items: center;
  padding: 3.9em 1.2em;
  height: 100%;
}
header .header_nav_list-item a:hover, header .header_nav_list-item a:active, header .header_nav_list-item a:focus, header .header_nav_list-item a.active {
  border-bottom: 5px solid #4EB1FC;
}
header .header_input input {
  text-align: end;
  border: 0;
  border-bottom: 2px solid #4EB1FC;
}
header .header_input input:focus-visible, header .header_input input:focus-within {
  outline: none;
}

main {
  background-color: #1C1C1C;
}

h2 {
  color: white;
  padding: 1.5em 0;
}

.jumbo {
  background-image: url("../../img/jumbotron.jpg");
  height: 265px;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbo div.currentser {
  position: relative;
}
.jumbo div.currentser span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  background-color: #0282F9;
  padding: 0.3em 1.2em;
  position: absolute;
  top: 245px;
  left: 208px;
}

div.cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3em;
}
div.cards a {
  width: calc(16.6666666667% - 2em);
  margin: 0 1em;
}
div.cards a .card {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
div.cards a .card div {
  overflow: hidden;
  width: 100%;
  height: 60%;
}
div.cards a .card div img {
  width: 100%;
  cursor: pointer;
}
div.cards a .card span {
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 0.5em;
}

div.load-more {
  text-align: center;
}
div.load-more button {
  background-color: #0282F9;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.8em 3.5em;
  margin-bottom: 1.5em;
}

footer {
  background-image: url("../../img/footer-bg.jpg");
}
footer .container-80 {
  display: flex;
}
footer .container-80 .left-col {
  width: 40%;
  margin-bottom: 4em;
  display: flex;
}
footer .container-80 .left-col div {
  width: 33.3333333333%;
  height: 100%;
}
footer .container-80 .left-col div h2 {
  color: white;
  text-transform: uppercase;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
footer .container-80 .left-col div li {
  list-style: none;
}
footer .container-80 .left-col div li a {
  text-decoration: none;
  color: gray;
  font-size: 1em;
}
footer .container-80 .right-col {
  width: 60%;
  background-image: url("../../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}

.endfooter {
  background-color: #303030;
}
.endfooter .endfooter_container {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}
.endfooter .endfooter_container ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.endfooter .endfooter_container ul li {
  padding: 0 0.5em;
}
.endfooter .endfooter_container ul li a {
  width: 16%;
  text-decoration: none;
  color: #0282F9;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.endfooter .endfooter_container ul li img {
  width: 80%;
  cursor: pointer;
}
.endfooter .endfooter_container button {
  background-color: #303030;
  border: 2px solid #0282F9;
  text-transform: uppercase;
  color: white;
  padding: 1em 1.5em;
  cursor: pointer;
}

div.jumbo.single_comic {
  border-bottom: 70px solid #0282F9;
  height: 380px;
}
div.jumbo.single_comic img {
  position: absolute;
  top: 180px;
  left: 295px;
}

.comic__page {
  width: 60%;
  margin: 0 auto;
}
.comic__page img {
  width: 20%;
  margin-top: 8em;
}
.comic__page div.box {
  display: flex;
  margin: 3em 0;
}
.comic__page div.box div.comic__text {
  width: 80%;
  margin: 1.5em 0;
}
.comic__page div.box div.comic__text h1 {
  font-size: 1.27em;
  text-transform: uppercase;
  color: #0B496B;
}
.comic__page div.box div.comic__text p {
  font-size: 0.86em;
  line-height: 1.6em;
}
.comic__page div.box div.comic__text div.comic__price {
  display: flex;
  background-color: #54BC59;
  color: lightgrey;
  border-bottom: 1px solid gray;
  margin: 1.2em 0 1em 0;
}
.comic__page div.box div.comic__text div.comic__price div.price {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1.3em;
  font-size: 0.7em;
}
.comic__page div.box div.comic__text div.comic__price div.availability {
  width: 30%;
  padding: 0.8em 0;
  font-weight: 100;
  text-align: center;
  border-left: 1px solid gray;
  font-size: 0.9em;
}
.comic__page div.box div.comic__adv {
  padding: 0 2em;
  overflow-y: scroll;
}
.comic__page div.box div.comic__adv h2 {
  padding: 0;
  color: gray;
  text-align: end;
  font-size: 1em;
}
.comic__page div.box div.comic__adv img {
  width: 100%;
  margin: 0;
}

.talent_specs {
  background-color: #F6F6F6;
}
.talent_specs .content-box {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 4em;
}
.talent_specs .content-box .talent {
  width: 50%;
  padding-right: 2.5em;
}
.talent_specs .content-box .talent h4 {
  width: 84%;
}
.talent_specs .content-box .talent h4,
.talent_specs .content-box .talent h1 {
  color: #0B496B;
}
.talent_specs .content-box .talent .first-row,
.talent_specs .content-box .talent .second-row,
.talent_specs .content-box .talent .third-row {
  border-bottom: 1px solid lightgray;
  display: flex;
  padding: 1em 0;
}
.talent_specs .content-box .talent .first-row p,
.talent_specs .content-box .talent .second-row p,
.talent_specs .content-box .talent .third-row p {
  font-size: 0.68em;
  margin: 0;
  padding: 0;
  width: 129%;
  color: #5AC7E5;
}
.talent_specs .content-box .specs {
  width: 50%;
  padding-right: 2.5em;
}
.talent_specs .content-box .specs h4,
.talent_specs .content-box .specs h1 {
  color: #0B496B;
}
.talent_specs .content-box .specs a {
  color: #5AC7E5;
  text-transform: uppercase;
  text-decoration: none;
}
.talent_specs .content-box .specs .first,
.talent_specs .content-box .specs .second,
.talent_specs .content-box .specs .third,
.talent_specs .content-box .specs .fourth {
  border-bottom: 1px solid lightgray;
  display: flex;
  padding: 0.5em;
}

div.end_comic {
  background-color: #F6F6F6;
}
div.end_comic div.final_box {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}