div.jumbo.single_comic {
  border-bottom: 70px solid $mainBlueColor;
  height: 380px;
  img {
    position: absolute;
    top: 180px;
    left: 295px;
  }
}


.comic__page {
  width: 60%;
  margin: 0 auto;
  img {
    width: 20%;
    margin-top: 8em;
  }
  div.box {
    display: flex;
    margin: 3em 0;
    div.comic__text {
      width: 80%;
      margin: 1.5em 0;
      h1 {
        font-size: 1.27em;
        text-transform: uppercase;
        color: $singleComicTitle;
      }
      p {
        font-size: 0.86em;
        line-height: 1.6em;
      }
      div.comic__price {
        display: flex;
        background-color: $pirceBarColor;
        color: lightgrey;
        border-bottom: 1px solid gray;
        margin: 1.2em 0 1em 0;
        div.price {
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.8em 1.3em;
          font-size: 0.7em;
        }
        div.availability {
          width: 30%;
          padding: 0.8em 0;
          font-weight: 100;
          text-align: center;
          border-left: 1px solid gray;
          font-size: 0.9em;
        }
      }
    }
    div.comic__adv {
      padding: 0 2em;
      overflow-y: scroll;
      h2 {
        padding: 0;
        color: gray;
        text-align: end;
        font-size: 1em;
      }
      img {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.talent_specs {
  width: 60%;
  margin: 0 auto;
  display: flex;
  .talent {
    width: 50%;
  }
  .specs {
    width: 50%;
  }
}